body {
	/* background-image: url("images/background.jpg"); */
	background-color: #EADECA;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a {
	color: inherit;
	text-decoration: none;
}

.parent-post {
	display: block;
	background-color: #282C34;
	color: white;
	padding: 5px;
	box-shadow: 0px 0px 10px #707070;
	margin: 5px;
	width: 600px;
	word-wrap: break-word;
	font-family: "Helvetica";
	font-size: 20px;
}

.child-post {
	display: block;
	background-color: #282C34;
	color: white;
	margin-top: 5px;
	margin-left: 20px;
	padding: 5px;
	box-shadow: 0px 0px 10px #707070;
	width: 500px;
	word-wrap: break-word;
	font-family: "Helvetica";
	font-size: 16px;
}

.newPostField {
	display: block;
	background-color: #282C34;
	color: white;
	margin-top: 5px;
	padding: 5px;
	width: 400px;
	font-family: "Helvetica";
	font-size: 16px;
}

.newPostForm {
	display: block;
	background-color: #282C34;
	color: white;
	margin-top: 5px;
	padding: 5px;
	box-shadow: 0px 0px 10px #707070;
	width: 410px;
}
