{% load staticfiles %}
<head>
	<title> POSTING </title>
	<link rel="stylesheet" type="text/css" href="{% static 'posts/layout.css' %}" />
<head>

<body>
	<div>
		{% for child in allposts %}
			<div class="parent-post">
				{{child.poster}} | {{child.title}} <a href="{{child.pk}}">>>Post #{{child.pk}}</a>
				<br> {{ child.date }} 
				<br> {{child.content|linebreaks}}
				<a href="{{child.pk}}">
				{% if child.replies is not 1 %}
					{{ child.replies }} replies
				{% else %}
					1 reply
				{% endif %}
				</a>
			</div>
		{% endfor %}
	</div>
</body>
