{% load staticfiles %}
<head>
	<title> {{rpost.title}} </title>
	<link rel="stylesheet" type="text/css" href="{% static 'posts/layout.css' %}" />
<head>

<body>
	<div class="parent-post">
		<a href="../{{rpost.parent.pk}}">Back to parent post</a>
	</div>
	<div class="parent-post">
		{{rpost.poster}} | {{rpost.title}} <a href="../{{rpost.pk}}">>>Post #{{rpost.pk}}</a> 
		<br> {{ rpost.date }} 
		<br> {{rpost.content|linebreaks}}
		<a href="../{{rpost.pk}}">
		{% if rpost.replies is not 1 %}
			{{ rpost.replies }} posts in this thread
		{% else %}
			1 post in this thread
		{% endif %}
		</a>
	</div>
	<div>
		{% for child in children %}
			<div class="child-post">
				{{child.poster}} | {{child.title}} <a href="../{{child.pk}}">>>Post #{{child.pk}}</a> 
				<br> {{ child.date }}
					{% if child.upload and child.upload != '[]' %} 
						<br>
						<a href='{{ child.upload.url }}'>File: {{ child.upload.name }}</a>
					{% endif %}
				<br> {{child.content|linebreaks}}
				<a href="../{{child.pk}}">
				{% if child.replies is not 1 %}
					{{ child.replies }} replies
				{% else %}
					1 reply
				{% endif %}
				</a>
			</div>
		{% endfor %}
	</div>
	<form class="newPostForm" action="{{ action }}" method='POST' enctype="multipart/form-data">
		{% csrf_token %}
		{% for field in form %}
			<div class="newPostField">
				{{ field.label }} {{ field }}
			</div>
		{% endfor %}
		<input type="submit" value="Submit" />
	</form>
</body>
